/*
 * Specify colors, font changes, etc here for the different rule classes
 */

.trigger, .required, .abort, .check, .error, .ignore, .warning {
    font-weight: bold;
    background-color: whitesmoke;
}

.trigger {
    color: navy;
}

.required {
    color: darkolivegreen;
}

.check, .abort {
    color: darkred;
}

.error {
    color: crimson;
}

.ignore {
    color: yellowgreen;
}

.warning {
    color: goldenrod;
}


/* 
 * Body Settings
 */

body, div, span, h1, h2, h3, h4 {
    background-color: #FFF;
    font-family: Courier, Serif;
}

a {
    color: blue;
}

a:link {
    text-decoration: underline;
}


a:active, a:hover {
    font-style: italic;
}

.exitcode {
    color: cornflowerblue;
    font-weight: bold;
    font-size: 14pt;
    font-family: Arial, Helvetica, Sans;
}

/*
 * Summary Table Settings
 */

tr:nth-child(even) {
    background-color: #FFF;
}

tr:nth-child(odd) {
    background-color: whitesmoke;
}

td, th {
    font-family: Arial, Helvetica, Sans;

    padding: 5px;
    spacing: 2px;
    align: top;
    text-align: left;


	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
	border-top-right-radius:3px;
}
